@font-face {
    font-family: "corp";
    src: url("font.ttf");
}

@font-face {
    font-family: "corptxt";
    src: url("hairfont.ttf");
}

@font-face {
    font-family: "keto";
    src: url("keto.otf");
}

@font-face {
    font-family: "krunch";
    src: url("krunch.ttf");
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding:0;
    margin: 0;
    width:100%;
}
.countdown-container{
  text-align: center;
  color:white;
  font-family:'Exo';
  font-size: 20px;
  background-color: #B22041;
  width:100%;
  
}
#countdown-text{
  display:inline;
}
.header{
  padding-top: 20px;
  width: 100%;
}
.logo{
  display: inline-block;
  width:200px;
  margin-left:50px;
  margin-top: 20px;
}
.logo h1{
  color:white;
  font-family: 'Share Tech';
  font-size:40px;
  margin:0;
}

.nav{
  color:white;
  float:right;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color:white;
}

.nav li{
  list-style: none;
  text-decoration: none;
  float:left;
  margin-right:60px;
  font-family: 'Exo';
  font-size:25px;
}
.nav li a:hover{
  color:white;
  text-decoration: underline;
  text-decoration-color:#B22041 ;
  transition: 1s;
}
#cyclops-eye{
  width: 400px;
  margin:auto;
}

#landing{
  width:100%;
  padding:20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
#cyclops-landing{
  color:white;
  font-family: 'Exo';
  font-size: 25px;
  text-align: center;
  width:700px;
}
.cyclops-glitch{
  text-align: center;
}

.character {
  color: white;
  font-family: 'Russo One';
  font-size: 100px;
  margin-right: 15px;
  display: inline-block;
  position: relative;
  letter-spacing: var(--margin)/1.5;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 50px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

@-webkit-keyframes glitch-animation-after {
  0% {
    clip: rect(15px, 600px, 100px, 0)
  }
  6.66667% {
    clip: rect(6px, 600px, 94px, 0)
  }
  13.33333% {
    clip: rect(28px, 600px, 58px, 0)
  }
  20% {
    clip: rect(32px, 600px, 37px, 0)
  }
  26.66667% {
    clip: rect(76px, 600px, 39px, 0)
  }
  33.33333% {
    clip: rect(74px, 600px, 36px, 0)
  }
  40% {
    clip: rect(81px, 600px, 34px, 0)
  }
  46.66667% {
    clip: rect(54px, 600px, 14px, 0)
  }
  53.33333% {
    clip: rect(65px, 600px, 50px, 0)
  }
  60% {
    clip: rect(85px, 600px, 100px, 0)
  }
  66.66667% {
    clip: rect(61px, 600px, 72px, 0)
  }
  73.33333% {
    clip: rect(23px, 600px, 65px, 0)
  }
  80% {
    clip: rect(0, 0, 0, 0)
  }
  100% {
    clip: rect(0, 0, 0, 0)
  }
}

@keyframes glitch-animation-after {
  0% {
    clip: rect(65px, 600px, 39px, 0)
  }
  6.66667% {
    clip: rect(19px, 600px, 21px, 0)
  }
  13.33333% {
    clip: rect(80px, 600px, 51px, 0)
  }
  20% {
    clip: rect(6px, 600px, 16px, 0)
  }
  26.66667% {
    clip: rect(31px, 600px, 95px, 0)
  }
  33.33333% {
    clip: rect(94px, 600px, 84px, 0)
  }
  40% {
    clip: rect(84px, 600px, 74px, 0)
  }
  46.66667% {
    clip: rect(97px, 600px, 55px, 0)
  }
  53.33333% {
    clip: rect(7px, 600px, 18px, 0)
  }
  60% {
    clip: rect(24px, 600px, 17px, 0)
  }
  66.66667% {
    clip: rect(28px, 600px, 97px, 0)
  }
  73.33333% {
    clip: rect(61px, 600px, 2px, 0)
  }
  80% {
    clip: rect(0, 0, 0, 0)
  }
  100% {
    clip: rect(0, 0, 0, 0)
  }
}

@-webkit-keyframes glitch-animation-before {
  0% {
    clip: rect(62px, 600px, 45px, 0)
  }
  6.66667% {
    clip: rect(46px, 600px, 67px, 0)
  }
  13.33333% {
    clip: rect(68px, 600px, 49px, 0)
  }
  20% {
    clip: rect(82px, 600px, 56px, 0)
  }
  26.66667% {
    clip: rect(53px, 600px, 6px, 0)
  }
  33.33333% {
    clip: rect(9px, 600px, 90px, 0)
  }
  40% {
    clip: rect(95px, 600px, 69px, 0)
  }
  46.66667% {
    clip: rect(50px, 600px, 99px, 0)
  }
  53.33333% {
    clip: rect(4px, 600px, 60px, 0)
  }
  60% {
    clip: rect(78px, 600px, 97px, 0)
  }
  66.66667% {
    clip: rect(30px, 600px, 69px, 0)
  }
  73.33333% {
    clip: rect(68px, 600px, 49px, 0)
  }
  80% {
    clip: rect(0, 0, 0, 0)
  }
  100% {
    clip: rect(0, 0, 0, 0)
  }
}

@keyframes glitch-animation-before {
  0% {
    clip: rect(86px, 600px, 98px, 0)
  }
  6.66667% {
    clip: rect(62px, 600px, 92px, 0)
  }
  13.33333% {
    clip: rect(91px, 600px, 20px, 0)
  }
  20% {
    clip: rect(47px, 600px, 44px, 0)
  }
  26.66667% {
    clip: rect(1px, 600px, 77px, 0)
  }
  33.33333% {
    clip: rect(99px, 600px, 22px, 0)
  }
  40% {
    clip: rect(44px, 600px, 12px, 0)
  }
  46.66667% {
    clip: rect(71px, 600px, 65px, 0)
  }
  53.33333% {
    clip: rect(52px, 600px, 28px, 0)
  }
  60% {
    clip: rect(10px, 600px, 15px, 0)
  }
  66.66667% {
    clip: rect(75px, 600px, 69px, 0)
  }
  73.33333% {
    clip: rect(57px, 600px, 62px, 0)
  }
  80% {
    clip: rect(0, 0, 0, 0)
  }
  100% {
    clip: rect(0, 0, 0, 0)
  }
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(204, 57, 107, 0);
  clip: rect(0, 0, 0, 0);
}

.glitch:after {
  left: 2px;
  text-shadow: -5px 0 rgba(255, 51, 104, 0.5);
  animation: glitch-animation-after 2s infinite linear alternate-reverse;
}

.glitch:before {
  left: -2px;
  text-shadow: 5px 0 rgba(94, 38, 255, 0.5);
  animation: glitch-animation-before 3s infinite linear alternate-reverse;
}



#cyclops-specs{
  background-color: #B22041;
  color:white;
  height: 800px;
  width:60%;
  margin:auto;
  padding:50px 0;
  text-align: center;
  font-family: 'Exo';
  margin-bottom:20px
}
#cyclops-specs h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom:50px;
}
#cyclops-specs p{
  font-size: 30px;
}
#cyclops-specs hr{
  width:20%;
}
.section-text p{
    display: inline-block;
    color: white;
    font-size: 80px;
    margin:0;
}

#gallery{
  width:60%;
  margin:auto;
  padding:40px 0;
  text-align: center;
  font-family: 'Exo';
  color:white;

}
#gallery h2{
  font-weight: bold;
  font-size: 40px;
  margin-bottom:20px;
}
#gallery p{
  font-size:18px;
  margin-bottom: 40px;
}

.carousel{
  margin-bottom: 40px;
}

#media-coverage{
  width:100%;
  height:700px;
  margin: auto;
  font-family: 'Exo';
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}
#media-coverage h2{
  width:100%;
}


  

  
